<div class="mt-3">
  <nav class="navbar navbar-light navbar-site bg-light navbar-expand-md">
    <button class="navbar-toggler border-0 ml-auto"
            style="outline: 0;"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-site"
            aria-controls="navbar-site"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-site">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">ABOUT <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">TEAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
