---
layout: site
---

<header class="site text-center my-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/">
          <img src="/assets/images/logo-lg.svg" alt="Sevenwire" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</header>
<main class="site">
  {{ content }}
</main>
<footer class="site bg-light">
  <div class="container">
    <div class="row">
      <div class="col py-3 px-4">
        <p>
          ••• • •••- • -• •-- •• •-• •<br>
          &copy; 2018 Sevenwire LLC. Be cool.
        </p>
      </div>
    </div>
  </div>
</footer>
