---
layout: site
---

<header class="site container text-center mt-5 mb-3">
  <div class="row">
    <div class="col">
      <a href="/">
        <img src="/assets/images/logo-lg.svg" alt="Sevenwire" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <nav class="navbar navbar-light navbar-site bg-light navbar-expand-md">
        <button class="navbar-toggler border-0 ml-auto" style="outline: 0;" type="button" data-toggle="collapse" data-target="#navbar-site" aria-controls="navbar-site" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-site">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<main class="site">
  {{ content }}
</main>
<footer class="site">
  <div class="container">
    <div class="row">
      <div class="col rounded-top bg-light py-3 px-4">
        <p>
          ••• • •••- • -• •-- •• •-• •<br>
          &copy; 2018 Sevenwire LLC. Be cool.
        </p>
      </div>
    </div>
  </div>
</footer>
