---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col">
      {% for post in site.posts limit:1 %}
        <div class="featured-post">
          <a href="{{ post.url }}">
            <img src="{{ post.image }}" alt="" class="img-fluid post-image rounded-top">
            <div class="post-content">
              <h2>{{ post.title }}</h2>
              {{ post.excerpt }}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="container home mb-5">
  <div class="row my-4">
    <div class="col">
      <hr>
      {{ content }}
      <hr>
    </div>
  </div>
  {% assign current_projects = site.projects | where: "current", "true" | where: "featured", "true" | sort: "position" %}
  {% assign past_projects = site.projects | where: "current", "false" | where: "featured", "true" | sort: "position" %}
  {% if current_projects.first or past_projects.first %}
    <div class="row">
    <div class="col">
      <h3 class="mt-4 mb-4">OUR WORK</h3>
      {% if current_projects.first %}
        <h6 class="text-uppercase">We're currently working on:</h6>
        <div class="card-deck mb-4">
          {% for current_project in current_projects limit:4 %}
            <div class="card">
              <div class="card-body">
                <p class="card-title h4">
                  {{ current_project.teaser | markdownify | remove: '<p>' | remove: '</p>' }}
                </p>
                <p class="card-text">
                </p>
              </div>
              <img src="{{ current_project.thumbnail }}" alt="{{ current_project.title | escape }}" class="card-img-bottom">
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if past_projects.first %}
        <h6 class="text-uppercase">In the past we've:</h6>
        <div class="card-deck">
          {% for past_project in past_projects limit:4 %}
            <div class="card">
              <div class="card-body">
                <p class="card-title h4">
                  {{ past_project.teaser | markdownify | remove: '<p>' | remove: '</p>' }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
